@font-face {
  font-family: 'AvantGarde';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/AvantGarde/AvantGarde.woff2') format('woff2');
}

@font-face {
  font-family: 'AvantGarde';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/AvantGarde/AvantGardeMedium.woff2') format('woff2');
}

body {
  font-family: 'AvantGarde', sans-serif;
}

.heading-xl {
  font-size: 128px;
  line-height: 108px;
  letter-spacing: -0.04em;
  font-weight: 700;
}

.heading-lg {
  font-size: 64px;
  line-height: 72px;
  letter-spacing: -0.04em;
  font-weight: 700;
}

.heading-md {
  font-size: 48px;
  letter-spacing: -0.04em;
  font-weight: 500;
}

.heading-xs {
  font-size: 12px;
  letter-spacing: 0.4em;
}
