:root {
  /** Colors */
  --background-color: #f8f8f2;
  --primary-color: #4a2e1c;
  --secondary-color: #d6a375;
  --grey-color: #737373;
  --accent-color: #a2c2ae;

  /** Spacings **/
  --external-padding: 48px;
}

html,
body {
  background-color: var(--background-color);
  color: var(--primary-color);
  height: 100%;
}

.text-background {
  color: var(--background-color);
}

.text-primary {
  color: var(--primary-color);
}

.text-secondary {
  color: var(--secondary-color);
}

.text-grey {
  color: var(--grey-color);
}

.text-accent {
  color: var(--accent-color);
}

.container {
  padding: var(--external-padding, 48px);
  height: 100%;
}

.wrapper {
  position: relative;
  height: 100%;
}

.time-container {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.interval-container {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);

  display: flex;
  flex-direction: column;
  gap: 8px;
}

.end-session-container {
  position: absolute;
  left: 0;
  bottom: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}

.music-container {
  position: absolute;
  right: 0;
  top: 0;
  text-align: right;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.text-button {
  color: var(--secondary-color);
  transition: all 200ms ease-in-out;
}

.text-button:hover {
  color: var(--primary-color);
}

.text-button:active {
  transform: scale(0.95);
}

.text-button--accent {
  color: var(--accent-color);
  transition: all 200ms ease-in-out;
}

.text-button--accent:hover {
  color: var(--primary-color);
}

.text-button--accent:active {
  transform: scale(0.95);
}

#end-session-button {
  color: var(--secondary-color);
  transition: color 200ms ease-in-out;
}
#end-session-button:hover {
  color: var(--primary-color);
}

.focus-time-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}
